.authenticationBlock {
    max-width: 850px;
    padding: 55px 45px;
    border-radius: 55px;
    background: #fff;
    backdrop-filter: blur(6px);
    margin-left: auto;
}
.authentication__title {
    font-size: 180px;
    line-height: 190px;
    margin-bottom: 20px;
    font-weight: 700;
}
@media (max-width: 1600px) {
    .authentication__title {
        font-size: 130px;
    }
}
@media (max-width: 767px) {
    .authentication__title {
        font-size: 50px;
        text-align: center;
        line-height: 60px;
    }
    .authenticationBlock {
        padding: 30px 25px;
        border-radius: 15px;
    }
}
